<template>
    <li class="nav-item">
        <router-link
                :to="link.path"
                @click.native="linkClick"
                class="nav-link"
                :target="link.target"
                :href="link.path">
            <template>
                <i :class="link.icon" style="font-size: 18px"></i>
                <span class="nav-link-text" style="font-size: 18px">{{ link.name }}</span>
            </template>
        </router-link>
    </li>
</template>
<script>
export default {
    name: 'sidebar-item',
    props: {
        link: {
            type: Object,
            default: () => {
                return {
                    name: '',
                    path: '',
                    children: []
                };
            },
            description: ''
        }
    },
    inject: {
        autoClose: {
            default: true
        }
    },
    data() {
        return {
            children: [],
            collapsed: true
        };
    },
    methods: {
        linkClick() {
            if (
                this.autoClose &&
          this.$sidebar &&
          this.$sidebar.showSidebar === true
            ) {
                this.$sidebar.displaySidebar(false);
            }
        }
    }
};
</script>