<template>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">

            <!--Toggler-->
            <navbar-toggle-button @click.native="showSidebar">
                <span class="navbar-toggler-icon"></span>
            </navbar-toggle-button>
            <router-link class="navbar-brand" to="/dashboard">
                <img src="/logo.png" style="width: 125px;" class="navbar-brand-img" alt="...">
            </router-link>

            <slot name="mobile-right">
                <ul class="nav align-items-center d-md-none">
                    <base-dropdown class="nav-item" position="right">
                        <a slot="title" class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="ni ni-bell-55"></i>
                        </a>

                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </base-dropdown>
                    <base-dropdown class="nav-item" position="right">
                        <a slot="title" class="nav-link" href="#" role="button">
                            <div class="media align-items-center">
                              <span class="avatar rounded-circle">
                                <img alt="Image placeholder" :src="userImg">
                              </span>
                            </div>
                        </a>

                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                        </div>
                        <router-link to="/profile" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>My profile</span>
                        </router-link>
                        <router-link to="/accounts" class="dropdown-item">
                            <i class="ni ni-single-copy-04"></i>
                            <span>Bank Accounts</span>
                        </router-link>
                        <router-link to="/profile" class="dropdown-item">
                            <i class="ni ni-credit-card"></i>
                            <span>Debit Cards</span>
                        </router-link>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                            @click.prevent="logout"
                            href="javascript:void(0)">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </base-dropdown>
                </ul>
            </slot>
            <slot></slot>
            <div v-show="$sidebar.showSidebar" class="navbar-collapse collapse show" id="sidenav-collapse-main">

                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <router-link to="/dashboard">
                                <img src="/logo.png">
                            </router-link>
                        </div>
                        <div class="col-6 collapse-close">
                            <navbar-toggle-button @click.native="closeSidebar"></navbar-toggle-button>
                        </div>
                    </div>
                </div>

                <h6 class="navbar-heading text-muted">Dashboard</h6>
                <ul class="navbar-nav">
                    <slot name="links">
                    </slot>
                </ul>
                <!--Divider-->
                <hr class="my-3">
                <!--Heading-->
                <h6 class="navbar-heading text-muted">Account</h6>
                <!--Navigation-->

                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <router-link 
                            style="font-size: 18px" 
                            class="nav-link" to="/profile">
                            <i class="ni ni-single-02 text-yellow"></i> My Profile
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link 
                            style="font-size: 18px" 
                            class="nav-link" to="/accounts">
                            <i class="ni ni-single-copy-04"></i> Bank Accounts
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link
                            style="font-size: 18px" class="nav-link" to="/cards">
                            <i class="ni ni-credit-card text-green"></i> Debit Cards
                        </router-link>
                    </li>
                </ul>

                <hr class="my-3">

                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link"
                            style="font-size: 18px"
                            @click.prevent="logout"
                            href="javascript:void(0)"
                        >
                            <i class="ni ni-user-run"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
import NavbarToggleButton from '@/components/NavbarToggleButton'

export default {
    name: 'sidebar',
    components: {
        NavbarToggleButton
    },
    props: {
        logo: {
            type: String,
            default: 'img/brand/green.png',
            description: 'Sidebar app logo'
        },
        autoClose: {
            type: Boolean,
            default: true,
            description: 'Whether sidebar should autoclose on mobile when clicking an item'
        }
    },
    provide() {
        return {
            autoClose: this.autoClose
        };
    },
    methods: {
        closeSidebar() {
            this.$sidebar.displaySidebar(false)
        },
        showSidebar() {
            this.$sidebar.displaySidebar(true)
        }
    },
    beforeDestroy() {
        if (this.$sidebar.showSidebar) {
            this.$sidebar.showSidebar = false;
        }
    }
};
</script>
<style scoped>
.nav-link {
    font-size: 18px
}

.avatar img {
    height: 50px;
    width: 50px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #212529 !important;
    background-color: transparent !important;
}
</style>