<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link
    rel="shortcut icon"
    type="image/x-icon"
    href="<%= BASE_URL %>favicon/favicon.ico"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="<%= BASE_URL %>favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="<%= BASE_URL %>favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="<%= BASE_URL %>favicon/favicon-16x16.png"
  />
  <link
    rel="manifest"
    href="<%= BASE_URL %>favicon/site.webmanifest"
  />

    <link rel="mask-icon" href="<%= BASE_URL %>favicon/safari-pinned-tab.svg" color="#f68355">
    <meta name="msapplication-TileColor" content="#202225">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <title>Crystal Finance &#8211; We provide targeted financial services to individuals and small businesses</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-argon-dashboard doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
        function getLoanSettings() {
          const headers = {
            "x-api-key": `RVxAXlhQnhFCbrk92iGBNgMyUyoQdsapYl2mDJZPt5wni9eBvqcNoS8s106axCI4`,
          };

          fetch("https://mobile.creditclan.com/webapi/v1/loan/settings", {
            method: "get",
            headers,
          })
            .then((response) => response.json())
            .then((json) =>
              localStorage.setItem("loan_settings", JSON.stringify(json.data))
            );
          // ;
        }

        getLoanSettings();
      </script>
  </body>
</html>
