<template>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center logo mb-3">
                            <router-link slot="brand" class="navbar-brand" to="/">
                                <img src="/logo.png"/>
                            </router-link>
                        </div>
                        <form role="form" @submit.prevent="proceed">
                            <base-alert type="warning" v-if="error" dismissible>
                                <span class="alert-inner--text">{{ error }}</span>
                            </base-alert>

                            <base-input class="input-group-alternative mb-3"
                                placeholder="Email"
                                addon-left-icon="ni ni-email-83"
                                v-model="user_.email">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Password"
                                        type="password"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="user_.password">
                            </base-input>

                            <base-checkbox class="custom-control-alternative" v-model="rememberMe">
                                <span class="text-muted">Remember me</span>
                            </base-checkbox>
                            <div class="text-center">
                                <base-button type="primary" @click.prevent="proceed" class="my-4">Sign in</base-button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a href="#" class="text-light"><small>Forgot password?</small></a>
                    </div>
                    <div class="col-6 text-right">
                        <router-link to="/register" class="text-light"><small>Create new account</small></router-link>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
export default {
    data: () => ({
        user_: {},
        rememberMe: false,
        error: null
    }),
    mounted() {
        let remember_me = JSON.parse(localStorage.getItem("remember_me"));
        if (remember_me) {
            this.rememberMe = true;
            this.user_.email = remember_me.email;
        }
    },
    methods: {
        proceed() {
            const { validateEmail, validatePassword } = this;
            const { email, password } = this.user_;

            if (!email || !password)
                return this.showError("", "Please fill in all the fields!");

            const message = !validateEmail(email)
                ? "Enter a valid email address!"
                : // : password.length < 6
            // ? "Password must have at least 6 characters"
                "";

            if (message.length) return this.error = message;

            this.$store.commit("set", {
                user: {
                    email
                }
            });

            console.log({ email, password })

            this.loginUser({ email, password });
        },
        async loginUser({ email, password }) {
            this.$store.commit("set", {
                loader: true,
                loadingText: "Logging In..."
            });

            try {
                const res = await axios({
                    url: `${Endpoint3}/login`,
                    method: "post",
                    headers,
                    data: { email, password }
                });

                const {
                    token,
                    status,
                    user_id,
                    response_code,
                    lending_settings,
                    message,
                    is_suspended
                } = res.data;

                if (!status) return this.showError("", message);

                const verified = await this.checkVerifiedEmail(user_id);
                if (!verified) {
                    this.$store.commit("set", {
                        loader: false,
                        loadingText: ""
                    });

                    return Swal.fire({
                        title: `Your account hasn't been verified!`,
                        text: "Click the button below to resend the verification mail",
                        icon: "info",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        showCancelButton: false,
                        confirmButtonText: "Resend mail"
                    }).then(async result => {
                        if (result.value) {
                            await this.resendMail({ email });
                        }
                    });
                }
                await this.getLoanHistory(token);
                if (this.rememberMe)
                    localStorage.setItem("remember_me", JSON.stringify({ email }));
                else localStorage.removeItem("remember_me");

                await this.getUserDetails({
                    email,
                    token,
                    status,
                    user_id,
                    is_suspended,
                    response_code,
                    lending_settings
                });

                this.$store.commit("set", {
                    loader: false,
                    loadingText: ""
                });

                this.$router.push("/dashboard");
                Toast.fire({
                    icon: "success",
                    title: message
                });
            } catch (err) {
                this.$store.commit("set", { loader: false, loadingText: "" });
                this.catchErrors(err);
            }
        },
        async checkVerifiedEmail(id) {
            try {
                const res = await axios({
                    url: `https://appfour.creditclan.com/api/v1/mobi/api/verifyEmail?USER_ID=${id}`,
                    method: "get",
                    headers
                });

                return res.data.status;
            } catch (err) {
                this.catchErrors(err);
            }
        },
        async resendMail(data) {
            this.$store.commit("set", { loader: true, loadingText: "Resending..." });
            try {
                const res = await axios({
                    url: `${Endpoint3}/customer/resend/email`,
                    method: "post",
                    headers,
                    data
                });

                this.$store.commit("set", { loader: false, loadingText: "" });
                Toast.fire({
                    icon: "success",
                    title: "Check your e-mail to verify your account!"
                });
            } catch (err) {
                this.$store.commit("set", { loader: false, loadingText: "" });
                this.catchErrors(err);
            }
        }
    }
};
</script>
<style scoped>
.logo a img {
    height: 50px;
}
</style>
