<template>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7">
            <div v-if="!showOTP" class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center logo mb-3">
                        <router-link slot="brand" class="navbar-brand" to="/">
                            <img src="/logo.png" />
                        </router-link>
                    </div>
                    <form role="form" @submit.prevent="proceed">
                        <p class="text-danger text-center">
                            Ensure all details inputted are as seen on your BVN profile page
                        </p>

                        <base-alert type="warning" v-if="error" dismissible>
                            <span class="alert-inner--text">{{ error }}</span>
                        </base-alert>

                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <base-input
                                    class="input-group-alternative mb-3"
                                    placeholder="First Name"
                                    addon-left-icon="ni ni-circle-08"
                                    v-model="customer.firstname"
                                    required
                                >
                                </base-input>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <base-input
                                    class="input-group-alternative mb-3"
                                    placeholder="Last Name"
                                    addon-left-icon="ni ni-single-02"
                                    v-model="customer.lastname"
                                    required
                                >
                                </base-input>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <base-input
                                    addon-left-icon="ni ni-calendar-grid-58"
                                    required
                                >
                                    <flat-picker
                                        slot-scope="{ focus, blur }"
                                        @on-open="focus"
                                        @on-close="blur"
                                        placeholder="Date Of Birth"
                                        :config="{ allowInput: true }"
                                        class="form-control datepicker"
                                        v-model="customer.dob"
                                    >
                                    </flat-picker>
                                </base-input>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <base-input
                                    class="input-group-alternative mb-3"
                                    placeholder="Phone Number"
                                    addon-left-icon="fas fa-phone"
                                    v-model="customer.phone"
                                    required
                                >
                                </base-input>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <base-input
                                    class="input-group-alternative mb-3"
                                    placeholder="Email Address"
                                    addon-left-icon="ni ni-email-83"
                                    v-model="customer.email"
                                    type="email"
                                >
                                </base-input>
                            </div>

                            <div class="col-sm-12 col-lg-6">
                                <base-input
                                    class="input-group-alternative mb-3"
                                    placeholder="BVN"
                                    addon-left-icon="ni ni-single-02"
                                    v-model.number="customer.bvn"
                                    required
                                >
                                </base-input>
                            </div>
                        </div>

                        <div class="text-center">
                            <base-button
                                type="primary"
                                class="my-4"
                                @click.prevent="proceed"
                                >Get Started</base-button
                            >
                        </div>
                    </form>
                </div>
            </div>
            <OTPConfirm
                v-else
                :otpData="otpData"
                @resend="validateBVNAndSendOTP(turnToLower(customer))"
            />
            <div class="row mt-3" v-if="!showOTP">
                <div class="col-6">
                    <a href="#" class="text-light">
                        <small>Forgot password?</small>
                    </a>
                </div>
                <div class="col-6 text-right">
                    <router-link to="/login" class="text-light">
                        <small>Login into your account</small>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import flatPicker from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
import OTPConfirm from '../components/registration/OTPConfirm.vue';

export default {
    components: { flatPicker, OTPConfirm },
    name: 'register',
    data() {
        return {
            customer: {
                dob: ""
            },
            showOTP: false,
            otpData: {
                phone: '',
            },
            error: null,
        };
    },
    methods: {
        proceed() {
            const {
                validateName,
                validatePhone,
                validateEmail,
                customer,
            } = this;
            const {
                firstname,
                lastname,
                email,
                dob,
                phone,
                bvn,
            } = this.turnToLower(customer);

            const message =
                    !firstname || !lastname || !dob || !phone || !bvn || !email
                        ? 'Please fill in all the fields!'
                        : !validateName(firstname) || !validateName(lastname)
                            ? 'Please enter a valid name'
                            : !validatePhone(phone) || !validatePhone(bvn)
                                ? 'Phone number and BVN must have 11 numbers'
                                : !validateEmail(email)
                                    ? 'Enter a valid email address!'
                                    : '';

            if (message.length) return (this.error = message);

            this.validateBVNAndSendOTP(this.turnToLower(customer));
        },
        async validateBVNAndSendOTP(data) {
            this.$store.commit('set', {
                loader: true,
                loadingText: 'Checking validity of BVN...',
            });

            try {
                const res = await axios({
                    url: `${Endpoint}/validate_customer_bvn`,
                    method: 'post',
                    headers,
                    data,
                });

                this.$store.commit('set', {
                    loader: false,
                    loadingText: '',
                });
                if (!res.data.status)
                    return this.showError('', res.data.data.message);

                this.$store.commit('setRegister', {
                    profile: {
                        full_name: `${data.firstname
                            .trimEnd()
                            .trimStart()} ${data.lastname
                            .trimEnd()
                            .trimStart()}`,
                        phone: data.phone,
                        date_of_birth: data.dob,
                        nationality: 1,
                        email: data.email,
                    },
                    account: {
                        bvn: data.bvn,
                    },
                    work: {
                        official_email: data.email,
                    },
                });

                if (res.data.status) {
                    this.otpData = {
                        phone: res.data.data.validation.phone,
                        otp: res.data.data.otp,
                        txn: res.data.data.TXN_REF,
                    };
                    this.showOTP = true;
                    return;
                }
            } catch (err) {
                this.$store.commit('set', {
                    loader: false,
                    loadingText: '',
                });
                this.catchErrors(err);
            }
        },
    },
};
</script>
<style scoped>
    .logo a img {
        height: 50px;
    }
</style>
