<template>
    <div id="app">
        <notifications></notifications>
        <router-view />
        <Loader v-if="loader" />
    </div>
</template>

<script>
import mixins from "@/plugins/mixins.js";
import Vue from "vue";
import Meta from "vue-meta";
import Swal from "sweetalert2";
import axios from "axios";

import { mapState } from "vuex";
import Loader from "@/components/utils/Loader.vue";

window.Toast = Swal.mixin({
    toast: true,
    position: "top-end",
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    onOpen: toast => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
    }
});

window.Endpoint = `https://mobile.creditclan.com/webapi/v1`;
window.LendEnpoint = `https://lendingapis.creditclan.com/api/v3`;
window.Endpoint3 = `https://mobile.creditclan.com/api/v3`;
window.headers = {
    "x-api-key": `RVxAXlhQnhFCbrk92iGBNgMyUyoQdsapYl2mDJZPt5wni9eBvqcNoS8s106axCI4`
};

window.Swal = Swal;
window.axios = axios;

Vue.use(Meta);
Vue.mixin(mixins);

export default {
    components: { Loader },
    metaInfo() {
        return {
            meta: [
                // { name: "quick loans", content: "Loan Direct" },
                // { name: "fast loans", content: "Loan Direct" }
            ]
        };
    },
    async mounted() {
        // if (this.user) await this.getUserDetails(this.user);
    },
    computed: {
        ...mapState(["loader", "user"]),
    },
};

</script>
<style>
.main-content {
    min-height: 100vh !important;
}

.bg-gradient-success {
    background: linear-gradient(87deg, #f17e51 0, #fb885a 100%) !important;
}

.alert-info,
.alert-info button {
    color: #202225 !important;
}

.btn-primary {
    background-color: #F88558 !important;
    border-color: transparent !important;
}

.btn-secondary {
    background-color: #202225 !important;
    border-color: transparent !important;
}

.form-control {
    font-size: 16px !important;
}

.form-control.password-input{
    padding-left: 35px;
}

.form-control:disabled, .form-control[readonly] {
    background: #ffffff !important;
}

.navbar-vertical.navbar-expand-md.fixed-left {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

</style>
