<template>
  <div>
    <div class="form-group" style="margin-bottom: 0;" v-if="$route.name=='personal_details'">
      <label for>
          <div class="ni ni-image"></div>
          Passport Photograph</label>
    </div>

    <div class="form-group" :style="{ textAlign: avatar ? 'center' : '' }">
      <!-- <h6>click to upload.</h6> -->
      <div class="uploaded-image" v-if="$route.name=='personal_details' && avatar || image">
        <img
          :src="
            avatar || imageUrl
          "
        />
      </div>
      <div class="text-muted"></div>
      <div class="file-upload-wrapper">
        <input
          type="file"
          required="required"
          @change="handleChange"
          id="input-file-now"
          ref="file"
          class="file-upload"
          style="display: none"
        />

        <div
          :class="$route.name!=='personal_details' ? 'change' : ''"
          :style="{ display: 'flex', justifyContent: avatar ? 'center' : '' }"
        >
          <label
            :class="`btn btn-sm ${ $route.name!=='personal_details' ? 'btn-success' : 'btn-primary' }`"
            for="input-file-now"
          >{{ $route.name!=='personal_details' ? "Change" : "Upload" }} 
            <div class="ni ni-cloud-upload-96"></div>
          </label>
          <img src="@/assets/img/loading.svg" v-if="loader" class="img-loading" />
        </div>
      </div>
      <div class="help-block form-text with-errors form-control-feedback"></div>
    </div>
  </div>
</template>

<script>
const imagePath = `http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/`
export default {
    data() {
        return {
            avatar: "",
            filename: "",
            loader: false
        };
    },
    computed: {
        imageUrl() {
            return this.image.includes('http') ? this.image : imagePath+this.image
        }
    },
    props: ["image"],
    methods: {
        async handleChange(event) {
            const file = event.target.files[0];

            const validType = this.beforeUpload(file);
            if (!validType) return;
            this.loader = true;

            const uploaded = await this.upload(file);
            if (uploaded) {
                this.avatar = await `${this.filename}`;
                await this.$emit("done", this.filename);
            }
            this.loader = false;
        },
        beforeUpload({ type, size }) {
            const isType =
        type === "image/jpeg" || type === "image/png" || type === "image/jpg";

            const imageSize = size / 1024 / 1000;
            if (!isType) {
                Toast.fire({
                    icon: "warning",
                    title: "You can only upload JPG, JPEG or PNG files!"
                });

                return false;
            }

            if (imageSize > 2) {
                Toast.fire({
                    icon: "warning",
                    title: "You can only upload images with maximum size of 2MB!"
                });
                return false;
            }

            return true;
        },
        async upload(file) {
            try {
                if (!file) return;
                const formData = new FormData();
                formData.append("file", file);
                const res = await axios({
                    method: "POST",
                    url: `${Endpoint}/upload/image`,
                    headers,
                    data: formData
                });
                if (res.data.status) {
                    this.filename = res.data.data.filename;
                }
                return res.data.status;
            } catch (err) {
                if (!err.response) {
                    Toast.fire({
                        icon: "error",
                        title: "Upload failed! please try again"
                    });
                }
                console.dir(err);
                this.catchErrors(err);

                return false;
            }
        }
    }
};
</script>

<style>
.img-loading {
  height: 20px;
  margin-top: 1%;
  margin-left: 2%;
}

.uploaded-image {
  margin-bottom: 5px;
}

.uploaded-image img {
  border: 1px solid #0356ad;
  padding: 5px;
  border-radius: 10px;
  height: 115px;
}

.uploaded-image img:hover {
  transform: scale(1.8);
}

.change {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 99;
}
</style>
