<template>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div
                        class="ni ni-bold-left go-back"
                        @click="$router.push('/profile/nok')"
                    ></div>

                    <!-- <div
                        v-if="registration.hasOwnProperty('work')"
                        class="ni ni-bold-right go-forward"
                        @click="$router.push('/profile/nok')"
                    ></div> -->
                    <div class="text-center logo mb-3">
                        <img src="/logo.png" />
                    </div>
                    <form role="form" @submit.prevent="proceed">
                        <base-alert type="warning" v-if="error">
                            <span class="alert-inner--text">{{ error }}</span>
                        </base-alert>

                        <div class="form-group">
                            <label for>Bank Name</label>
                            <select
                                v-model="account.id"
                                class="form-control custom-select"
                            >
                                <option value selected disabled
                                    >Select Bank</option
                                >
                                <option
                                    :value="bank.id"
                                    v-for="(bank, i) in banks"
                                    :key="i"
                                    >{{ bank.name }}</option
                                >
                            </select>
                        </div>

                        <div class="form-group">
                            <label for>Bank Account Number</label>
                            <input
                                class="form-control"
                                v-model="account.account_no"
                                placeholder="1044027520"
                                required="required"
                                :maxlength="10"
                                type="tel"
                            />
                            <div class="pre-icon os-icon os-icon-ui-54"></div>
                        </div>

                        <div class="text-center">
                            <base-button
                                type="primary"
                                class="my-4"
                                @click.prevent="proceed"
                                >Proceed</base-button
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
const getBanks = () =>
    axios({
        url: `${Endpoint}/banks`,
        method: 'get',
        headers: {
            'x-api-key': `RVxAXlhQnhFCbrk92iGBNgMyUyoQdsapYl2mDJZPt5wni9eBvqcNoS8s106axCI4`,
        },
    });

export default {
    data() {
        return {
            account: {},
            error: null,
            banks: [],
        };
    },
    async created() {
        this.$store.commit("set", {
            loader: true,
        })
        const banks = await getBanks();
        this.banks = (banks.data.data || []).sort((a, b) =>
            a.name > b.name ? 1 : -1
        );

        if(this.registration.account) {
            this.account.account_no = this.registration.account.account_no
            this.account.id = this.registration.account.id
        }

        this.$store.commit("set", {
            loader: false,
        })
    },
    methods: {
        proceed() {
            const { validatePhone, account } = this;
            const { account_no, id } = account;
            const message =
                    !account_no || !id
                        ? 'Please fill in all the fields!'
                        : !validatePhone(account_no + '1')
                            ? 'Account Number must have 10 numbers'
                            : '';

            if (message.length) return (this.error = message);
            this.validateBankAccount(account_no, id);
        },
        async validateBankAccount(account_number, id) {
            const bank_code = this.banks.find(
                (bank) => bank.id === id
            ).bank_code;

            this.$store.commit('set', {
                loader: true,
                loadingText: 'Validating Account...',
            });

            const { full_name } = this.$store.state.registration.profile;
            const { bvn } = this.$store.state.registration.account;

            try {
                const res = await axios({
                    method: 'POST',
                    url: `${Endpoint}/account/resolve`,
                    headers,
                    data: { account_number, bank_code, full_name, bvn },
                });

                this.$store.commit('set', {
                    loader: false,
                    loadingText: '',
                });

                if (res.data.status != 'success')
                    return (this.error =
                            res.data.message || res.data.data.message);

                Swal.fire({
                    icon: 'success',
                    text: 'Bank account validated!',
                });

                this.$store.commit('setRegister', {
                    account: {
                        id,
                        account_no: account_number,
                        account_name: res.data.data.account_name,
                    },
                });

                this.$router.push('/profile/employment');
            } catch (err) {
                this.$store.commit('set', {
                    loader: false,
                    loadingText: '',
                });
                this.showError(
                    '',
                    `An error occured during validation of account details`
                );
            }
        },
    },
};
</script>
<style scoped>
    .logo a img {
        height: 50px;
    }
    .go-back {
        position: absolute;
        left: 45px;
        font-size: 28px;
        cursor: pointer;
        color: #202225;
    }

    .go-forward {
        position: absolute;
        font-size: 28px;
        cursor: pointer;
        color: #202225;
        right: 45px;
    }
</style>
