<template>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div
                    class="card-body px-lg-5 py-lg-5"
                >
                    <div class="text-center logo mb-3">
                        <img src="/logo.png" />
                    </div>
                    <form
                        role="form"
                        v-if="showVerify"
                        @submit.prevent="proceed"
                    >
                        <base-alert type="warning" v-if="error">
                            <span class="alert-inner--text">{{ error }}</span>
                        </base-alert>

                        <base-input
                            class="input-group-alternative mb-3"
                            placeholder="Email"
                            addon-left-icon="ni ni-email-83"
                            :value="profile.email"
                            disabled
                        >
                        </base-input>

                        <i class="ni ni-lock-circle-open lock"></i>
                        <password
                            style="max-width: initial"
                            v-model="profile.password"
                            defaultClass="form-control password-input"
                            placeholder="Enter Password"
                            :badge="false"
                            @score="showScore"
                            @feedback="showFB"
                        />

                        <base-input
                            class="input-group-alternative"
                            placeholder="Confirm Password"
                            type="password"
                            addon-left-icon="ni ni-lock-circle-open"
                            v-model="profile.c_password"
                        >
                        </base-input>

                        <!-- <div class="form-group">
                            <label>
                                <input v-model="terms" type="checkbox" style="check" />
                                <span class="checkmark"></span>

                            </label>
                        </div> -->

                        <base-checkbox class="mb-3" v-model="terms">
                            <span class="text-muted">
                                I have read and agree to the
                                <a href="#" target="_blank"> terms of use</a>
                            </span>
                        </base-checkbox>

                        <div class="text-center">
                            <base-button
                                type="primary"
                                class="my-4"
                                @click.prevent="proceed"
                                >Finish</base-button
                            >
                        </div>
                    </form>

                    <VerifyEmail v-else :email="profile.email" />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import VerifyEmail from '@/components/registration/VerifyEmail.vue';
import Password from 'vue-password-strength-meter';

export default {
    components: { VerifyEmail, Password },
    data() {
        return {
            showVerify: false,
            terms: false,
            privacy: false,
            profile: {
                email: this.$store.state.registration.profile.email,
            },
            userDetails: {},
            score: '',
            error: null,
            fb: null,
        };
    },
    methods: {
        showScore(score) {
            this.score = score;
        },
        showFB(fb) {
            this.fb = fb;
        },
        proceed() {
            const { score, fb } = this;
            const { email, password, c_password } = this.profile;

            if (!this.terms) return this.error = 'Please agree to the terms of use and the privacy policy!';

            if (!email || !password || !c_password)
                return (this.error = 'Please enter your password!');

            const message =
                    password.length < 6
                        ? 'Password must have at least 6 characters'
                        : password !== c_password
                            ? 'Please confirm your new password is correct!'
                            : '';

            if (message.length) return (this.error = message);

            if (score < 3)
                return this.showError(
                    this.fb.warning || '',
                    `<b>To make your password more secure</b> <br /> 
                        - Use letters and numbers <br /> 
                        - Use special characters such as @, ?, ! <br /> 
                        - Mix lower and uppercase"`
                );

            this.$store.commit('setRegister', {
                profile: {
                    password,
                },
            });

            this.registerUser(email, password);
        },
        async registerUser(email, password) {
            const { registration } = this.$store.state;
            const { full_name: name } = registration.profile;

            this.$store.commit('set', {
                loader: true,
                loadingText: 'Creating your account...',
            });

            try {
                const res = await axios({
                    url: `${Endpoint3}/customer/register`,
                    method: 'post',
                    headers,
                    data: {
                        ...registration,
                        name,
                        is_individual: 1,
                        email,
                        password,
                    },
                });

                this.$store.commit('set', {
                    loader: false,
                    loadingText: '',
                });
                if (res.data.status) {
                    this.userDetails = {
                        token: res.data.token,
                        name,
                        email,
                        response_code: res.data.response_code,
                        id: res.data.user_id,
                    };

                    // Swal.fire({
                    //     icon: 'success',
                    //     text: res.data.message,
                    // });
                    return (this.showVerify = true);
                }

                this.showError('', res.data.message);
            } catch (err) {
                this.$store.commit('set', {
                    loader: false,
                    loadingText: '',
                });
                this.catchErrors(err);
            }
        },
    },
};
</script>
<style scoped>
    .logo a img {
        height: 50px;
    }

    .lock {
        position: absolute;
        margin-top: 15px;
        margin-left: 11px;
        z-index: 99;
        font-size: 14px;
        color: #adb5bd;
    }

    .check {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
</style>
