<template>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="ni ni-bold-left go-back" @click="$router.push('/profile/bank')"></div>
                    <div class="text-center logo mb-3">
                        <img src="/logo.png" />
                    </div>
                    <form role="form" @submit.prevent="proceed">
                        <base-alert type="warning" v-if="error">
                            <span class="alert-inner--text">{{ error }}</span>
                        </base-alert>

                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label for>Educational Qualification</label>
                                <div class="pre-icon os-icon os-icon-user-male-circle2"></div>
                                <select
                                    v-model="work.edu_sector"
                                    name="Employment Status"
                                    class="custom-select form-control"
                                >
                                    <option value disabled selected>Select</option>
                                    <option value="0">NIL</option>
                                    <option v-for="({ name, id }, i) in resources.education" :key="i" :value="id">{{ name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label for>Employment Status</label>
                                <div class="pre-icon os-icon os-icon-user-male-circle2"></div>
                                    <select
                                        v-model="work.occupation_id"
                                        name="Employment Status"
                                        class="custom-select form-control"
                                    >
                                        <option value disabled selected>Select</option>
                                        <option v-for="({ name, id }, i) in resources.occupations" :key="i" :value="id">{{ name }}</option>
                                    </select>
                                </div>
                            </div>

                        <div class="col-sm-12 col-lg-12" v-if="showIfEmployed">
                            <base-input
                                class="input-group-alternative mb-3"
                                addon-left-icon="ni ni-email-83"
                                v-model="work.company_name"
                                placeholder="Please input Employer/Business Name"
                                type="text"
                            >
                            </base-input>
                        </div>

                        <div class="col-sm-12 col-lg-6" v-if="showIfEmployed">
                            <base-input
                                class="input-group-alternative mb-3"
                                placeholder="Phone Number"
                                addon-left-icon="fas fa-phone"
                                v-model="work.company_phone"
                                :maxlength="11"
                                type="tel"
                                required
                            >
                            </base-input>
                        </div>

                        <div class="col-sm-12 col-lg-6" v-if="showIfEmployed">
                            <base-input
                                class="input-group-alternative mb-3"
                                placeholder="Work Email"
                                addon-left-icon="fas fa-envelope"
                                v-model="work.work_email"
                                type="email"
                                required
                            >
                            </base-input>
                        </div>
                    </div>

                        <div class="form-group" v-if="showIfEmployed">
                            <!-- <label>
                                <div class="ni ni-square-pin"></div>
                                Residential Address</label> -->
                            <textarea
                                v-model="work.address"
                                class="form-control"
                                rows="2"
                                placeholder="Company/Business Address"
                            ></textarea>
                        </div>

                    <div class="row" v-if="showIfEmployed">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label for>Job Title</label>
                                <select v-model="work.designation_id" name="Job Title" class="custom-select form-control">
                                    <option value disabled selected>Select</option>
                                    <option
                                        v-for="({ name, id }, i) in resources.designations"
                                        :key="i"
                                        :value="id"
                                    >{{ name }}</option>
                                </select>
                                <div class="pre-icon os-icon os-icon-link-3"></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label for>Job Sector</label>
                                <select name="Job Sector" v-model="work.work_sector" class="custom-select form-control">
                                    <option value disabled selected>Select</option>
                                    <option v-for="({ name, id }, i) in resources.sectors" :key="i" :value="id">{{ name }}</option>
                                </select>
                                <div class="pre-icon os-icon os-icon-link-3"></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <base-input
                                addon-left-icon="ni ni-calendar-grid-58"
                                required
                            >
                                <flat-picker
                                    slot-scope="{ focus, blur }"
                                    @on-open="focus"
                                    @on-close="blur"
                                    placeholder="Start Date of Employment"
                                    :config="{ allowInput: true }"
                                    class="form-control datepicker"
                                    v-model="work.start_date"
                                >
                                </flat-picker>
                            </base-input>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <base-input
                                class="input-group-alternative mb-3"
                                placeholder="Income"
                                addon-left-icon="ni ni-credit-card"
                                v-model="amount"
                                type="text"
                                required
                            >
                            </base-input>
                        </div>
                    </div>
                        <div class="text-center">
                            <base-button type="primary" class="my-4" @click.prevent="proceed">Continue</base-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import flatPicker from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';

export default {
    components: { flatPicker },
    data() {
        return {
            work: {
                start_date: "",
            },
            amount: null,
            resources: {},
            error: null,
        };
    },
    watch: {
        amount() {
            this.amount = this.amount.replace(/,/g, "");
            if (!this.validateNumbers(this.amount)) {
                this.amount = this.amount.slice(0, -1);
            }
            this.work.monthly_income = Number(this.amount);
            this.work.gross_annual_income = Number(this.amount) * 12;
            this.amount = this.numberWithCommas(this.amount);
        }
    },
    computed: {
        showIfEmployed() {
            const { occupation_id } = this.work;
            return occupation_id &&
                occupation_id != 7 &&
                occupation_id != 20 &&
                occupation_id != 3
                ? true
                : false;
        }
    },
    methods: {
        proceed() {
            const {
                edu_sector,
                occupation_id,
                monthly_income,
                gross_annual_income,
                work_sector,
                work_email,
                company_name,
                company_phone,
                address,
                designation_id,
                start_date
            } = this.turnToLower(this.work);

            if (occupation_id && !this.showIfEmployed)
                return this.$router.push({ name: "Create" });

            if (
                !edu_sector ||
                !occupation_id ||
                !monthly_income ||
                !gross_annual_income ||
                !work_email ||
                !work_sector ||
                !company_name ||
                !company_phone ||
                !address ||
                !designation_id ||
                !start_date
            ) return this.error = "Please fill in all the fields!";

            if (address.length < 10) return this.error = "Address must have more than 10 characters";

            if (monthly_income < 5000) return this.error = `The least monthly income is ${this.nairaSign}5000`;
            if (company_name.length < 6) return this.error = "Company Name must have more than 6 characters";
            if (!this.validatePhone(company_phone)) return this.error = "Phone number must have 11 numbers";

            // if (this.validateEmail(work_email))
            //   return Swal.fire({
            //     icon: "info",
            //     text: "Please enter a valid e-mail"
            //   });

            const work = {
                education_qualification: edu_sector,
                occupation_id,
                work_sector,
                company_name,
                company_phone,
                work_email,
                address,
                designation_id,
                start_month: new Date(start_date).getMonth() + 1,
                start_year: new Date(start_date).getFullYear(),
                monthly_income,
                gross_annual_income,
                company_id: "-1"
            };

            this.$store.commit("setRegister", { work });
            Swal.fire({
                title: 'Are you sure?',
                text: "Ensure you have entered the correct required information!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, I am!'
            }).then((result) => {
                if (result.value) {
                    this.$router.push("/create-account");
                }
            })
        }
    },
    async created() {
        this.$store.commit("set", {
            loader: true,
        })
        await this.getResources();

        if(this.registration.work) {
            const { work } = this.registration
            this.work = {
                edu_sector: work.education_qualification,
                occupation_id: work.occupation_id,
                monthly_income: work.monthly_income,
                gross_annual_income: work.gross_annual_income,
                work_sector: work.work_sector,
                work_email: work.official_email,
                company_name: work.company_name,
                company_phone: work.company_phone,
                address: work.address,
                designation_id: work.designation_id,
                start_date: `${work.start_year}-${work.start_month}`
            }

            this.amount = work.monthly_income
        }

        this.$store.commit("set", {
            loader: false,
        })
    }
};
</script>

<style scoped>
    .logo a img {
        height: 50px;
    }
    .go-back {
        position: absolute;
        left: 45px;
        font-size: 28px;
        cursor: pointer;
        color: #202225;
    }
</style>