<template>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="ni ni-bold-left go-back" @click="$router.push('/profile/information')"></div>
                    <div class="text-center logo mb-3">
                        <img src="/logo.png" />
                    </div>
                    <form role="form" @submit.prevent="proceed">
                        <base-alert type="warning" v-if="error">
                            <span class="alert-inner--text">{{ error }}</span>
                        </base-alert>

                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <base-input
                                class="input-group-alternative mb-3"
                                placeholder="First Name"
                                addon-left-icon="ni ni-circle-08"
                                v-model="next_of_kin.firstname"
                                required
                            >
                            </base-input>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <base-input
                                class="input-group-alternative mb-3"
                                placeholder="Last Name"
                                addon-left-icon="ni ni-single-02"
                                v-model="next_of_kin.lastname"
                                required
                            >
                            </base-input>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <base-input
                                class="input-group-alternative mb-3"
                                placeholder="Email Address"
                                addon-left-icon="ni ni-email-83"
                                v-model="next_of_kin.nok_email"
                                type="email"
                            >
                            </base-input>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <base-input
                                class="input-group-alternative mb-3"
                                placeholder="Phone Number"
                                addon-left-icon="fas fa-phone"
                                v-model="next_of_kin.phone"
                                required
                            >
                            </base-input>
                        </div>
                    </div>

                        <div class="form-group">
                            <label>
                                <div class="ni ni-square-pin"></div>
                                Residential Address</label>
                            <textarea
                                v-model="next_of_kin.address"
                                class="form-control"
                                rows="2"
                                placeholder="Please input residential Address"
                            ></textarea>
                        </div>

                        <div class="form-group">
                        <label for>
                            <i class="fas fa-users"></i>
                            Relationship with kin</label>
                        <div class="pre-icon os-icon os-icon-user"></div>
                        <select
                            v-model="next_of_kin.relationship"
                            name="Relationship with kin"
                            class="custom-select form-control"
                        >
                            <option value selected disabled>Select</option>
                            <option value="Spouse">Spouse</option>
                            <option value="Son">Son</option>
                            <option value="Daughter">Daughter</option>
                            <option value="Parent">Parent</option>
                            <option value="Brother">Brother</option>
                            <option value="Sister">Sister</option>
                            <option value="Niece">Niece</option>
                            <option value="Nephew">Nephew</option>
                            <option value="Uncle">Uncle</option>
                            <option value="Aunt">Aunt</option>
                        </select>
                        </div>

                        <div class="text-center">
                            <base-button type="primary" class="my-4" @click.prevent="proceed">Proceed</base-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    data() {
        return {
            next_of_kin: {},
            error: null
        };
    },
    mounted() {
        if(this.registration.next_of_kin) {
            const { next_of_kin } = this.registration
            this.next_of_kin = {
                firstname: this.capitalize(next_of_kin.full_name.split(" ")[0]),
                lastname: this.capitalize(next_of_kin.full_name.split(" ")[1]),
                nok_email: next_of_kin.nok_email,
                address: next_of_kin.address,
                phone: next_of_kin.phone,
                relationship: this.capitalize(next_of_kin.relationship)
            }
        }
    },
    methods: {
        proceed() {
            const {
                validateName,
                validateEmail,
                validatePhone,
                user,
                next_of_kin
            } = this;
            const {
                firstname,
                lastname,
                nok_email,
                address,
                phone,
                relationship
            } = this.turnToLower(next_of_kin);

            const message =
                !firstname ||
                !lastname ||
                !address ||
                !phone ||
                !relationship ||
                !nok_email
                    ? "Please fill in all the fields!"
                    : !validateName(firstname) || !validateName(lastname)
                        ? "Please enter a valid name with at least a length of six (6) characters"
                        : !validatePhone(phone)
                            ? "Phone number must have 11 numbers"
                            : !validateEmail(nok_email)
                                ? "Enter a valid email address!"
                                : "";
            if (message.length) return this.error = message;
            if (address.length < 10)
                return this.error = "Address must have more than 10 characters";

            this.$store.commit("setRegister", {
                next_of_kin: {
                    full_name: `${firstname} ${lastname}`,
                    address,
                    phone,
                    relationship,
                    nok_email
                }
            });
            this.$router.push("/profile/bank")
        }
    }
};
</script>
<style scoped>
    .logo a img {
        height: 50px;
    }
    .go-back {
        position: absolute;
        left: 45px;
        font-size: 28px;
        cursor: pointer;
        color: #202225;
    }
</style>
