<template>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center logo mb-3">
                        <img src="/logo.png" />
                    </div>
                    <form role="form" @submit.prevent="proceed">
                        <base-alert type="warning" v-if="error">
                            <span class="alert-inner--text">{{ error }}</span>
                        </base-alert>

                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <Upload @done="getPicture" :image="profile.profile_image" />
                        </div>

                        <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label for>
                                <i class="fas fa-genderless"></i>
                                Gender</label>
                            <select v-model="profile.gender" name="Gender" class="custom-select form-control">
                                <option value disabled selected>Select</option>
                                <option :value="'1'">Female</option>
                                <option :value="'0'">Male</option>
                            </select>
                        </div>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label for>
                                <i class="fas fa-rings-wedding"></i>
                                Marital Status</label>
                            <select
                                v-model="profile.marital_status"
                                name="Marital Status"
                                class="custom-select form-control"
                            >
                                <option value disabled selected>Select</option>
                                <option v-if="!resources.maritals.length" style="background: #f9f9f9">Loading...</option>
                                <option
                                    v-else
                                    v-for="({id, name}, i) in resources.maritals"
                                    :value="id"
                                    :key="i"
                                >{{ name }}</option>
                            </select>
                        </div>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label for>
                                <div class="ni ni-building"></div>
                                Residential Status</label>
                            <select
                                v-model="profile.type_of_residence"
                                name="Residential Status"
                                class="custom-select form-control"
                            >
                                <option value selected disabled>Select</option>
                                <option v-if="!resources.residences.length" style="background: #f9f9f9">Loading...</option>
                                <option
                                    v-else
                                    v-for="({id, name}, i) in resources.residences"
                                    :value="id"
                                    :key="i"
                                >{{ name }}</option>
                                <option :value="3">Living with Parents</option>
                            </select>
                        </div>
                        </div>
                    </div>

                        <div class="form-group">
                            <label>
                                <div class="ni ni-square-pin"></div>
                                Residential Address</label>
                            <textarea
                                v-model="profile.address"
                                class="form-control"
                                rows="2"
                                placeholder="Please input residential Address"
                            ></textarea>
                        </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label for>
                                <div class="ni ni-pin-3"></div>
                                State</label>
                            <select
                                v-model="profile.state"
                                @change="getLGAs($event.target.value)"
                                class="form-control custom-select"
                            >
                                <option value selected disabled>Select state</option>
                                <option v-if="!states.length" style="background: #f9f9f9">Loading...</option>
                                <option :value="state.id" v-for="(state, i) in states" :key="i">{{ state.name }}</option>
                            </select>
                        </div>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label for>
                                <div class="ni ni-pin-3"></div>
                                LGA</label>
                            <select
                                placeholder="LGA"
                                v-model="profile.lga_id"
                                class="form-control custom-select"
                                required
                            >
                            <option value selected>Select</option>
                            <option
                                value
                                selected
                                disabled
                                v-if="!profile.state || !lgas.length"
                                style="background: #f9f9f9"
                            >Loading...</option>
                            <option v-else :value="area.id" v-for="(area, i) in lgas" :key="i">{{ area.name }}</option>
                            </select>
                        </div>
                        </div>
                    </div>

                        <div class="text-center">
                            <base-button type="primary" class="my-4" @click.prevent="proceed">Proceed</base-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Upload from '@/components/utils/Upload.vue';
const getBanks = () =>
    axios({
        url: `${Endpoint}/banks`,
        method: "get",
        headers: {
            "x-api-key": `RVxAXlhQnhFCbrk92iGBNgMyUyoQdsapYl2mDJZPt5wni9eBvqcNoS8s106axCI4`
        }
    });

const getStates = () =>
    axios({
        url: `${Endpoint}/states`,
        method: "get",
        headers: {
            "x-api-key": `RVxAXlhQnhFCbrk92iGBNgMyUyoQdsapYl2mDJZPt5wni9eBvqcNoS8s106axCI4`
        }
    });

const getMarital = () =>
    axios({
        url: `${Endpoint}/marital_status`,
        method: "get",
        headers: {
            "x-api-key": `RVxAXlhQnhFCbrk92iGBNgMyUyoQdsapYl2mDJZPt5wni9eBvqcNoS8s106axCI4`
        }
    });

const getResidence = () =>
    axios({
        url: `${Endpoint}/residence_types`,
        method: "get",
        headers: {
            "x-api-key": `RVxAXlhQnhFCbrk92iGBNgMyUyoQdsapYl2mDJZPt5wni9eBvqcNoS8s106axCI4`
        }
    });

export default {
    components: {
        Upload
    },
    data() {
        return {
            profile: {},
            lgas: [],
            states: [],
            resources: {
                maritals: [],
                residences: []
            },
            error: null
        };
    },
    created() {
        this.getResources();
    },
    methods: {
        async getResources() {
            this.$store.commit("set", {
                loader: true,
            })
            try {
                const res = await Promise.all([
                    getBanks(),
                    getStates(),
                    getMarital(),
                    getResidence()
                ]);

                const banks = (res[0].data.data || []).sort((a, b) =>
                    a.name > b.name ? 1 : -1
                );
                const states = res[1].data.data;
                this.resources = {
                    maritals: res[2].data.data,
                    residences: res[3].data.data
                };

                if(this.registration.home_address) {
                    this.profile = {
                        profile_image: this.registration.profile.profile_image,
                        gender: this.registration.profile.gender,
                        marital_status: this.registration.profile.marital_status,
                        type_of_residence: this.registration.home_address.type_of_residence,
                        address: this.registration.home_address.address,
                        state: this.registration.home_address.state_id,
                    }

                    this.getLGAs(this.registration.home_address.state_id)
                    this.profile.lga_id = this.registration.home_address.lga_id

                }

                this.states = states;
                this.$store.commit("set", { banks });
                this.$store.commit("set", { states });
                this.$store.commit("set", {
                    loader: false,
                })
            } catch (err) {
                this.catchErrors(err)
            }
        },
        async getLGAs(id) {
            this.profile.lga_id = undefined;
            this.profile = JSON.parse(JSON.stringify(this.profile));
            this.lgas = [];
            const res = await axios({
                url: `${Endpoint}/states/${id}/lgas`,
                method: "get",
                headers: {
                    "x-api-key": `RVxAXlhQnhFCbrk92iGBNgMyUyoQdsapYl2mDJZPt5wni9eBvqcNoS8s106axCI4`
                }
            });

            this.lgas = res.data.data;
        },
        getPicture(value) {
            this.profile.profile_image = value;
        },
        async proceed() {
            try {
                const {
                    profile_image,
                    gender,
                    marital_status,
                    type_of_residence,
                    address,
                    state,
                    lga_id
                } = this.turnToLower(this.profile);

                if (
                    !gender &&
                    !marital_status &&
                    !type_of_residence &&
                    !address &&
                    !state &&
                    !lga_id
                ) return this.error = "Please fill in all the fields!";

                if(!profile_image) return this.error = "Please upload a passport photograph!"
                if(!gender) return this.error = "Please select a gender!"
                if(!marital_status) return this.error = "Please select your marital status!"
                if(!type_of_residence) return this.error = "Please select your type of residence!"
                if (!address || address.length < 10) return this.error = "Address must have more than 10 characters";
                if(!state) return this.error = "Please select a state!"
                if(!lga_id) return this.error = "Please select a LGA!"

                const profile = { profile_image, gender, marital_status, state };
                const home_address = {
                    address,
                    state_id: state,
                    type_of_residence,
                    lga_id
                };

                this.$store.commit("setRegister", { home_address, profile });
                this.$router.push("/profile/nok")
            } catch (err) {
                console.log(err)
            }
        }
    }
};
</script>
<style scoped>
    .logo a img {
        height: 50px;
    }
</style>
