<template>
    <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center logo mb-3">
                <router-link slot="brand" class="navbar-brand" to="/">
                    <img src="/logo.png" />
                </router-link>
            </div>
            <form role="form" @submit.prevent="verifyOTP(otp)">
                <base-alert type="warning" v-if="error">
                    <span class="alert-inner--icon"
                        ><i class="ni ni-fat-remove"></i
                    ></span>
                    <span class="alert-inner--text">{{ error }}</span>
                </base-alert>

                <label for class="mb-2">
                    Please enter the 6-digit verification code we sent
                    {{ type ? 'to your email' : 'via SMS to the phone number' }}
                </label>
                <h2 class="text-center mt-4" v-if="otpData.phone">{{ otpData.phone }}</h2>

                <base-input
                    class="input-group-alternative"
                    placeholder="xxxxxx"
                    type="password"
                    maxlength="6"
                    addon-left-icon="ni ni-lock-circle-open"
                    v-model="otp"
                >
                </base-input>
                <div class="text-left">
                    <span>Didnt get OTP?</span>
                    <a href="Javascript:void(0)" style="padding-left: 5px; color: #F88558 " @click="$emit('resend')">
                        <span>Resend</span>
                    </a>
                </div>

                <div class="text-center">
                    <base-button
                        type="primary"
                        class="my-4"
                        @click.prevent="verifyOTP(otp, type)"
                    >Verify</base-button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';
export default {
    props: {
        type: String,
        otpData: Object,
    },
    data() {
        return {
            otp: '',
            error: null,
        };
    },
    methods: {
        async verifyOTP(otp, type) {
            if (!otp || otp.length !== 6)
                return this.error =  `Please enter the 6-digit verification code sent to ${type ||
                            'you via SMS'}`;

            this.$store.commit('set', {
                loader: true,
                loadingText: 'Validating OTP...',
            });

            try {
                const res = await axios({
                    url: `${Endpoint}/validate_customer_bvn_otp`,
                    method: 'post',
                    headers,
                    data: { otp, txn: this.otpData.txn },
                });

                const { data, status } = res.data;

                this.$store.commit('set', {
                    loader: false,
                    loadingText: '',
                });
                this.error = res.data.message

                Swal.fire({
                    icon: 'success',
                    title: 'Verification Successful',
                    timer: 3000,
                });

                if (type) return this.$emit('showRecovery');
                this.$router.push("/profile/information");
            } catch (err) {
                this.$store.commit('set', {
                    loader: false,
                    loadingText: '',
                });
                this.catchErrors(err);
            }
        },
    },
};
</script>

<style scoped>
    .logo a img {
        height: 50px;
    }
</style>
