<template>
    <form @submit.prevent="$router.push('/login')" class=" text-center mt-5">
        <h1 style="color: #F88557">Welcome to Crystal Finance</h1>
        <h3>
            Your account has been created, a verification link has been sent to
            your email address. Please complete your account activation
        </h3>

        <div class="text-center">
            <base-button
                type="primary"
                @click.prevent="$router.push('/login')"
                class="my-4"
                >Got it</base-button
            >
        </div>
    </form>
</template>

<script>
export default {
    props: {
        email: String,
    },
};
</script>

<style></style>
