<template>
    <div class="main-content bg-default">
        <!-- Navbar -->
        <!-- Header -->
        <div class="header bg-gradient-success py-7 py-lg-8">
            <div class="container">
                <div class="header-body text-center mb-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            <h1 class="text-white text-capitalize">{{ heading }}</h1>
                            <p class="text-lead text-white mb-0" v-if="!$route.path.includes('profile')">
                                {{ text }}
                            </p>
                            <Steps v-else :page="$route.name" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div :class="`container mt--8 pb-4`">
            <slide-y-up-transition mode="out-in" origin="center top">
                <router-view></router-view>
            </slide-y-up-transition>
        </div>
        <footer class="py-5" v-if="$route.path.includes('login')">
            <div class="container">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; {{year}} <a href="https://crystalfinanceng.com/" class="font-weight-bold ml-1"
                                               target="_blank">Crystal Finance</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
import { SlideYUpTransition } from 'vue2-transitions'
import Steps from './Steps.vue'

export default {
    name: 'auth-layout',
    components: {
        SlideYUpTransition,
        Steps,
    },
    computed: {
        heading() {
            return this.$route.path.includes("register") ? "Get Started" 
                : this.$route.path.includes("login") 
                    ? "Welcome!" : this.$route.name.replace(/_/g, " ")
        },
        text() {
            return this.$route.path.includes("register") || this.$route.path.includes("login") ?
                `Our goal at Crystal Finance is to provide prompt and efficient financial services to our clients` : ""
        }
    },
    data() {
        return {
            year: new Date().getFullYear(),
            showMenu: false
        }
    }
}
</script>
<style>
</style>
