<template>
    <ul class="list-unstyled form-wizard-steps clearfix">
        <li
            v-for="n in 5"
            :class="
                `${step > n ? 'active activated' : ''}
                 ${step === n ? 'active' : ''}`
            "
            :key="n"
        >
            <span>{{ n }}</span>
        </li>
    </ul>
</template>

<script>
export default {
    props: ['page'],
    computed: {
        step() {
            return this.page.includes('personal')
                ? 1
                : this.page.includes('next')
                    ? 2
                    : this.page.includes('bank')
                        ? 3
                        : this.page.includes('employ')
                            ? 4
                            : 5;
        },
    },
};
</script>

<style scoped>
    .form-wizard-steps {
        margin: 30px 0;
    }
    .form-wizard-steps li {
        width: 20%;
        float: left;
        position: relative;
    }
    .form-wizard-steps li::after {
        background-color: #fff;
        content: '';
        height: 5px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
    }
    .form-wizard-steps li span {
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        position: relative;
        text-align: center;
        width: 40px;
        z-index: 1;
    }
    .form-wizard-steps li:last-child::after {
        width: 50%;
    }
    .form-wizard-steps li.active span,
    .form-wizard-steps li.activated span {
        background-color: #202225;
        color: #ffffff;
    }
    .form-wizard-steps li.active::after,
    .form-wizard-steps li.activated::after {
        background-color: #202225;
        left: 50%;
        width: 50%;
        border-color: #202225;
    }
    .form-wizard-steps li.activated::after {
        width: 100%;
        border-color: #202225;
    }
    .form-wizard-steps li:last-child::after {
        left: 0;
    }
</style>
